doctype html  



html(lang='en')
 link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
 link(href="https://fonts.googleapis.com/css?family=Muli&effect=3d" rel="stylesheet")
 script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
 link(rel="stylesheet" href="/style.css")
 script(src="/client.js")
 script.
   navigator.geolocation.getCurrentPosition(showPosition);
   function showPosition(position) {
    $('#coords').html("Latitude: " + position.coords.latitude + 
    " Longitude: " + position.coords.longitude);
    $('#flat').text(position.coords.latitude);
    $('#flong').text(position.coords.longitude);
      }
   function mySuccess(data){
     console.log(data);
   }
    $.ajax({
            url: "https://api.yelp.com/v3/businesses/search",
            "headers": "Authorization: Bearer VBKKgyAZUs7gd1ph_4x2_puwt23RQwHZPO-IaxGALuSCz7AOzQMyBRtWZ4uvslzgUb4DwzliNQ56nXA-52lQliWx_Z03csjN2WQk1t4Aum6y3V8qBpkHIwEcTKAuW3Yx",
            type: "GET",
            dataType: 'jsonp',
            success: mySuccess,
            error: function(jsonp){
                alert('error!');
            }
    
    });
 head
   title Night Coordinator
 body(class="bg-success" style={color: 'black', "font-family": "Muli"})
   center
     if user 
       h1(style={"text-align": center, "font-family": "Muli"}) Night Coordinator
       h3 Find a venue for tonight!
       p(id="demo")
       form()
         input(name="loc" autocomplete="off" id="place" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px", "margin-top": "30px"} placeholder="What type of place?")
       br
       p Choose from: ARTS_ENTERTAINMENT, EDUCATION, FITNESS_RECREATION,
       p FOOD_BEVERAGE, HOTEL_LODGING, MEDICAL_HEALTH, SHOPPING_RETAIL, TRAVEL_TRANSPORTATION
       div(style={width: "15%", border: "1px solid black", "margin-top": "40px", "border-radius": "25px"})
         p(style={"margin-top": "15px"}) Current User: #{user.username}
         p Profile Pic:
           img(src=user.photos[0].value style={"margin-left": "10px"})
       br
       p(id="coords")
       
     
     
     else
       h1(style={"text-align": center, "font-family": "Muli"}) Night Coordinator
       h3 Find a venue for tonight!
       center
       form()
         input(name="loc" autocomplete="off" id="place" style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px", "margin-top": "30px"} placeholder="What type of place?")
         br
         p Choose from: ARTS_ENTERTAINMENT, EDUCATION, FITNESS_RECREATION,
         p FOOD_BEVERAGE, HOTEL_LODGING, MEDICAL_HEALTH, SHOPPING_RETAIL, TRAVEL_TRANSPORTATION
       a(href='/twitter/login' class="btn btn-primary" style={"margin-top": "20px"}) Login using Twitter!
         img(src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" style=({width: "20px"}))
       br
       p(id="coords")