
html(lang='en')
 link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
 link(href="https://fonts.googleapis.com/css?family=Muli&effect=3d" rel="stylesheet")
 script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
 link(rel="stylesheet" href="/style.css")
 script(src="/client.js")
 head
   title Night Coordinator
 body(class="bg-success" style={color: 'black', "font-family": "Muli"})
   center
     if user 
       h1(style={"text-align": center, "font-family": "Muli"}) Night Coordinator
       h3 Search and add yourself to a venue for tonight!
       p(id="demo")
       form()
         input(style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px", "margin-top": "30px"} placeholder="Where are you?")
       div(style={width: "20%", border: "1px solid black", "margin-top": "40px", "border-radius": "25px"})
         p Current User: #{user.username}
         p Profile Pic:
           img(src=user.photos[0].value style={"margin-left": "10px"})
       div
         p Results:
       
     
     
     else
       h1(style={"text-align": center, "font-family": "Muli"}) Night Coordinator
       h3 Search and add yourself to a venue for tonight!
       form()
         input(style={"background-color": "transparent", "border-bottom":"2px solid black", "border-top": "0px", "border-right": "0px", "border-left": "0px", "margin-top": "30px"} placeholder="Where are you?")
       a(href='/twitter/login' class="btn btn-primary" style={"margin-top": "20px"}) Login using Twitter!
         img(src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c53e.png" style=({width: "20px"}))