/* styles */
/* called by your view template */
input:focus{
  outline: none;
}
p{
  font-family: Muli;
}
h2{
  font-size: 25px;
}
h3{
  font-size: 20px;
}
.well{
  background-color: #7893bc;
}
#lat, #long, #sign{
  display: none;
}